@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
	var root = Model.Root();
	var websiteSettings = root?.FirstChild<WebsiteSettings>() as WebsiteSettings;
	var navigation = websiteSettings?.FirstChild<Navigations>() as Navigations;
	var globalSettings = websiteSettings?.FirstChild<GlobalSettings>() as GlobalSettings;
}
<header>
	<div class="container">
		<!-- top header -->
		<div class="row top_header pt-3">
			<div class="col-lg-3 offset-lg-7 col-md-5 offset-md-3 col-sm-6 col-7 offset-sm-2 top-grid">
				<span class="fa ml-3 fa-envelope-open-o"></span>
				<p class=""> <a href="mailto:info@example.com">info@example.com</a> <span class="block">Contact Support</span> </p>
			</div>
			<div class="col-lg-2 col-md-4 col-sm-4 col-5 top-grid pl-0">
				<span class="fa ml-3 fa-phone"></span>
				<p class=""> +11 2345 6789 <span class="block">24/7 Helpline</span> </p>
			</div>
		</div>
		<!-- top header -->
		<!-- nav -->
		<nav class="pt-2">
			<div id="logo">
				<h1>
					<a href="https://www.maersk.com/" target="_blank">
						@*<span class="fa fa-ship"></span>*@
						<img src="@globalSettings?.Logo?.Url()" width="100" style="border-radius:10px;" />
						@globalSettings?.LogoName
					</a>
				</h1>
			</div>
			<label for="drop" class="toggle">Menu</label>
			<input type="checkbox" id="drop" />
			<ul class="menu mt-md-2 ml-auto">
				@foreach (var i in navigation?.NavLinks)
				{
					<li class="mr-lg-4 mr-2 active">
						<a href="@i?.Url" target="_blank">@i?.Name</a>
					</li>

				}

				@*<li class="mr-lg-3 mr-2 p-0">
				<!-- First Tier Drop Down -->
				<label for="drop-2" class="toggle">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span> </label>
				<a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
				<input type="checkbox" id="drop-2" />
				<ul class="inner-dropdown">
				<li><a href="gallery.html">Our Gallery</a></li>
				<li><a href="error.html">404 Error Page</a></li>
				<li><a href="#">Add Link</a></li>
				</ul>
				</li>*@

			</ul>
		</nav>
		<!-- //nav -->
	</div>
</header>
<section class="banner position-relative" id="home">
	<div class="container">
		<div class="banner-text">
			<div class="slider-info">
				<div class="agileinfo-logo mt-lg-5">
					<h2>@globalSettings.BannerTitleUpper <br> @globalSettings.BannerTitleLower</h2>
					<a href="#" style="background:@globalSettings.BannerButtonColor; --defaultScreening-color:@globalSettings.BannerButtonTextColor">@globalSettings.BannerButtonText</a>
				</div>
			</div>
		</div>
		<div class="choose text-center position-absolute d-lg-flex">
			@{
				foreach (var item in navigation?.HeaderCard)
				{
					var data = item.Content as HeaderCardSection;
					<div class="choose-icon mr-0">
						<span class="fa" aria-hidden="true" style="color:@data?.IconColor">@data?.HeaderCardIcon</span>
						
						<div class="choose-grid">
							<h3 class="mt-4">@data?.CardSuperTitle</h3>
							<p class="">@data?.CardSubTitle</p>
						</div>
					</div>
				}
			}
			<div class="clearfix"></div>
		</div>
	</div>
</section>
<div class="clearfix"></div>
<!-- //banner -->
<!-- footer-top -->
<section class="footer-top py-5">
	<div class="container">
		<div class="row footer-top-grid">
			<div class="col-sm-6">
				<h3>@navigation?.ContactRibbonTitle</h3>
				<p>@navigation?.ContactRibbonSubLine</p>
			</div>
			<div class="col-sm-6 text-sm-right mt-sm-0 mt-3">
				<h3><span class="fa fa-phone" aria-hidden="true"></span>@navigation?.ContactRibbonNumber</h3>
			</div>
		</div>
	</div>
</section>

<style>
	.banner {
		background: url(@globalSettings.BannerImage?.Url()) no-repeat center;
		filter:grayscale(50%);
	}
</style>
