@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Gallery>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
<div class="gallery py-5" id="gallery">
	<div class="container py-md-3">
		<h2 class="heading text-center mb-md-5 mb-4">@Model?.GalleryHeading</h2>
		<div class="news-grids gal text-center">
			<div class="row">
				@foreach (var galleryImage in Model?.GalleryImagesBlockList)
				{
					var gallerContent = galleryImage?.Content as OurGallery;

					<!-- gallery -->
					<div class="col-lg-3 col-md-4 col-sm-6 gal-img">
						<img src="@gallerContent?.ImageCol1?.Url()" alt="projects image" class="img-fluid">
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 gal-img my-md-0">
						<img src="@gallerContent?.ImageCol2?.Url()" alt="projects image" class="img-fluid">
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 gal-img">
						<img src="@gallerContent?.ImageCol3?.Url()" alt="projects image" class="img-fluid">
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6 gal-img">
						<img src="@gallerContent?.ImageCol4?.Url()" alt="projects image" class="img-fluid">
					</div>
				}
			</div>
		</div>
	</div>
</div>


