@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
	Layout = "Master.cshtml";
}

@foreach (var item in Model?.SectionAblockList)
{
	var hometopUpperSec = item?.Content as HomeTopUpperSection;
	<!-- about -->
	<section class="about py-5" id="how">
		<div class="container py-lg-5">
			<div class="row about-grids">
				<div class="col-lg-6 about-left">
					<img src="@hometopUpperSec?.SectionImage?.Url()" alt="" class="img-fluid" />
				</div>
				<div class="col-lg-6 grid1 mt-lg-0 mt-4 pl-lg-5">
					<h3 class="my-lg-4 mb-2">@hometopUpperSec?.HeadingTitle</h3>
					<p class="mt-3">
						@hometopUpperSec?.Description;
					</p>

				</div>
			</div>
		</div>
	</section>
}
<!-- //about -->
<!-- services -->
@foreach (var item in Model?.OurServices)
{
	var data = item?.Content as OurServiceSection;
	<section class="services py-5 bg-clr" id="services">
		<div class="container py-lg-5">
			<div class="row mt-lg-5">
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-md-0 mb-4">
					<h4 class="heading mt-3 ml-3">@data?.ServicesTitle</h4>
				</div>

				@foreach (var card in data?.OurServiceCard)
				{
					var cardData = card?.Content as OurServiceCard;
					<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
						<div class="our-services-wrapper">
							<div class="services-inner">
								<div class="our-services-icon">
									<span class="fa" aria-hidden="true">@cardData?.CardIcons</span>
								</div>
								<div class="our-services-text">
									<h4>@cardData?.ServicesCardTitle</h4>
									<p>@cardData?.ServicesCardDesc</p>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</section>
}
<!-- //services -->
<!-- stats -->
@foreach (var item in Model?.NumberList)
{
	var data = item?.Content as OurNumbers;

	<section class="stats py-5">
		<div class="container py-lg-5 py-md-3">
			<div class="row stat-grids">
				<div class="col-lg-5">
					<h4 class="heading mb-3">@data?.StaticalTitle</h4>
					<p class="">@data?.StaticalDescription</p>
				</div>
				<div class="col-lg-6 offset-lg-1 stats-right">
					@foreach (var i in data?.NumberCardBlockList)
					{
						var numCard = i.Content as NumberCard;
						<div class="row stats-inner-grid">
							<div class="col-sm-6 col-6">
								<h4>@numCard?.Numbers</h4>
								<p>@numCard?.NumberDescription <br>@numCard?.NumberLowerDescription</p>
							</div>
						</div>

					}
				</div>
			</div>
		</div>
	</section>
}
<!-- //stats -->
<!-- shipping -->
@foreach (var item in Model?.OurCosts)
{
	var data = item.Content as HomeTopUpperSection;

	<section class="shipping py-5">
		<div class="container py-lg-5 py-md-3">
			<div class="row">
				<div class="col-lg-5 p-md-0">
					<img src="@data?.SectionImage?.Url()" alt="" class="img-fluid" />
				</div>
				<div class="col-lg-7 p-0 mt-lg-0 mt-4">
					<div class="shipping-right">
						<h4 class="heading"> @data?.HeadingTitle</h4>
						<p class="mt-3">@data?.Description</p>
					</div>
				</div>
			</div>
		</div>
	</section>
}
<!-- //shipping -->
<!--/Blog-Posts-->
<section class="banner-bottom-w3layouts py-5" id="blog">
	<div class="container">
		<div class="inner-sec-w3ls py-lg-5 py-md-3">
			<!--/services-grids-->
			

				<div class="row blog-sec">
					<div class="col-lg-4 manager-img mb-lg-0 mb-4">
						<h4 class="heading"> We help clients transport their goods safely.</h4>
						<p class="mt-4">Integer pulvinar leo id viveerrra feugiat. Pellenttesque libero ut justo, semper at tempus vel, ultrices ipsum ligula. Nullae sollicit udin velit. semper at tempus vel.</p>
						<img src="images/manager.jpg" alt="" class="img-fluid rounded-circle mt-3">
						<img src="images/signature.jpg" alt="" class="img-fluid img1">
					</div>
					<div class="col-lg-4 col-md-6 about-in blog-grid-info text-left">
						<div class="card img">
							<div class="card-body img">
								<img src="images/blog1.jpg" alt="" class="img-fluid">
								<div class="blog-des mt-3">
									<h5 class="card-title mt-4">Shipping Cargo Transport</h5>
									<p class="card-text">
										Nulla eu elementum quam. Pellentesque consectetur magna purus, nec facilisis. semper at tempus vel, ipsum.
									</p>
									<a href="#"> Click More </a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 about-in blog-grid-info text-left mt-md-0 mt-5">
						<div class="card img">
							<div class="card-body img">
								<img src="images/blog2.jpg" alt="" class="img-fluid">
								<div class="blog-des mt-3">
									<h5 class="card-title mt-4">Shipping Cargo Transport</h5>
									<p class="card-text">
										Nulla eu elementum quam. Pellentesque consectetur magna purus, nec facilisis. semper at tempus vel, ipsum.
									</p>
									<a href="#"> Click More </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			

		</div>
	</div>
</section>
<!--//Blog-Posts-->
